:root {
  --WHITE: #EDEDED;
  --GRAY: #D5D5D5;
  --BLACK: #1D1D1D;
  --BLACKER: #12020A;
  
  --code-keyword-color: #FC5FA3;
  --code-number-color: #D0BF69;
  --code-string-color: #D0BF69;
  --code-type-color: #9EF1DD;
  --code-dotaccess-color: #67B7A4;
  --code-property-color: #326d74;
  --code-call-color: #67B7A4;
  --code-comment-color: #6C7986;
  --code-preprocessing-color: #643820;
}

a {
  text-decoration: none;
  /* Since we can't add a class from markdown */
  border-bottom: 2px solid var(--BLACK);
}

code {
  background-color: var(--GRAY);
  padding: 1px 5px;
  color: var(--BLACK);
}

pre {
  background-color: var(--BLACK);
  padding: 5%;
  width: 90%;
  margin: 0 auto;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

pre code {
  background-color: transparent;
  padding: 0px;
  color: var(--WHITE);
  font-family: 'Fira Code', sans-serif;
}

ul {
  list-style-type: disc;
}

blockquote {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  margin-inline-start: 20px;
  border-left: 5px solid var(--GRAY);
  margin-top: 3em;
  margin-bottom: 3em;
}

.blog-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.blog-image-small {
  max-width: 300px;
}

.blog-image-medium {
  max-width: 500px;
}

.blog-image-large {
  max-width: 700px;
}

@media (prefers-color-scheme: dark) {
  a {
    border-color: var(--WHITE);
  }

  pre {
    background-color: var(--BLACKER);
  }

  #home-button {
    /* We use padding instead of height and width to avoid unnecessary border around the image block. */
    /* https://stackoverflow.com/a/33145301 */
    padding: 12.5px 25px;
    background: url("images/logo-dark.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*SWIFT SYNTAX*/

.swift-keyword {
  color: var(--code-keyword-color);
}

.swift-number {
  color: var(--code-number-color);
}

.swift-string {
  color: var(--code-string-color);
}

.swift-type {
  color: var(--code-type-color);
}

.swift-dotAccess {
  color: var(--code-dotAccess-color);
}

.swift-property {
  color: var(--code-property-color);
}

.swift-call {
  color: var(--code-call-color);
}

.swift-comment {
  color: var(--code-comment-color);
}

.swift-preprocessing {
  color: var(--code-preprocessing-color);
}
